div {
  color: #fff;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  padding: 10px;
}
.container {
  background-color: #2e4272;
  display: flex;
}

.flex-item {
  background-color: #7887ab;
  flex-grow: 1;
}
